<header>
	<nav>
		<div>logo</div>
		<ul>
			<li><a href="about">Home</a></li>
			<li><a href="blog">Blog</a></li>
			<li><a href="/">About</a></li>
		</ul>
		<div>socials</div>
	</nav>
</header>

<style>
	li {
		display: inline;
	}
	li a {
		letter-spacing: 0.1em;
		padding: 0 14px;
		text-transform: uppercase;
	}
	header {
		width: 100%;
		padding: 0 36px;
	}
	nav {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
</style>
